repositories:
  - path: .github/workflows
    maintainer: @Significant-Gravitas/devops

  - path: autogpts/autogpt
    maintainer: @Significant-Gravitas/maintainers

  - path: autogpts/forge
    maintainer: @Significant-Gravitas/forge-maintainers

  - path: benchmark
    maintainer: @Significant-Gravitas/benchmark-maintainers

  - path: frontend
    maintainer: @Significant-Gravitas/frontend-maintainers
