## Ignored files
# Ignores files that are generated at runtime or by various tools,
# or that contain sensitive information.

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
*.so

# C extensions

# Distribution / packaging
*.egg-info/
MANIFEST
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
*.cover
*.py,cover
*.pyc
*.pyo
coverage.xml
htmlcov/
.coverage
.tox/
.nox/
.cache
nosetests.xml

# Translations
*.mo
*.pot

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3
*.sqlite3-journal
mem.sqlite3

# Environments
.direnv/
.env
.venv
env/
venv*/
ENV/
env.bak/

# IDEs and editors
.idea/
.project
.pydevproject
.vscode/

# Virtual machines and containers
.vagrant/
.docker/

# Sphinx documentation
docs/_build/
site/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Ignored directories
# Ignores directories that contain build artifacts, caches,
# configuration, or other non-essential data.

# Byte-compiled / optimized / DLL directories
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
plugins/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# PyInstaller
*.manifest
*.spec

# Scrapy stuff
.scrapy

# Django stuff
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
llama-*
vicuna-*

# OpenAI
openai/

# News
CURRENT_BULLETIN.md

# AG benchmark
agbenchmark_config/workspace
agbenchmark_config/reports
*.sqlite
.agbench
.agbenchmark
.benchmarks
.mypy_cache
.pytest_cache
ig_*
agent.db
agbenchmark_config/updates.json
agbenchmark_config/challenges_already_beaten.json
agbenchmark_config/temp_folder/*

# mac
.DS_Store

# News
news/

